@page 
@using tinyidp.Business.BusinessEntities
@using tinyidp.Pages.Models
@model CreateModel
@{
    ViewData["Title"] = "Certificate Managment";
}
@section Styles
{
    <link rel="stylesheet" href="~/dropzone/min/basic.min.css" />
    <link rel="stylesheet" href="~/dropzone/min/dropzone.min.css" />
}

<h1>@ViewData["Title"]</h1>
<div id="error">
    <span class="error">
@if (Model._credentialCreate != null && Model._credentialCreate!.ExceptionMessage != null)
{    
    @Model._credentialCreate!.ExceptionMessage
}
    </span>
</div>

@if (Model._credentialCreate != null && Model._credentialCreate!.CanAccess)
{
<h3>Add certificate</h3>
<div id="add-block" class="shadowbox">

<form method="post" class="dropzone" id="dropzoneForm" enctype="multipart/form-data">
    <input type="hidden" asp-for="_credentialCreate!.IdClient" class="form-control"/>

<div class="fallback">
    <input type="file" name="files" multiple />Select file or DragDrop it
</div>
<input type="submit" value="Add"/>
</form>
</div>
}

@section Scripts {
    <script src="~/dropzone/min/dropzone.min.js"></script>
    <script>
        Dropzone.options.dropzoneForm = {
            addRemoveLinks: true,
            paramName: "files" //default param name is "file", make it "files" so it matches our parameter name in the method
        };
    </script>    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}