@page "/account/login"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Antiforgery
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject NavigationManager Navigation
@inject IAntiforgery Antiforgery
@inject ICredentialBusiness _credentialBusiness;
@inject IHttpContextAccessor HttpContextAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Connexion - TinyIDP</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Connexion</h3>
                </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>
                    }

                    <form method="post" @formname="loginForm" @onsubmit="OnSubmitAsync">
                        <AntiforgeryToken />
                        <div class="mb-3">
                            <label for="login" class="form-label">Identifiant</label>
                            <InputText type="text" class="form-control" @bind-value="model!.Login" required />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <InputText type="password" class="form-control" @bind-value="model!.Password" required />
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary" disabled="@isSubmitting">
                                @if (isSubmitting)
                                {
                                    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true">Connexion en cours...</span>
                                    
                                }
                                else
                                {
                                    <span>Connexion</span>
                                }
                            </button>
                        </div>

                        <div class="mt-3">
                            <a href="/Account/ChangePwd" class="link-secondary">
                                Changer le mot de passe
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private LoginModel? model { get; set; }

    [Parameter]
    public string? returnUrl { get; set; }

    private string errorMessage = string.Empty;
    private bool isSubmitting = false;

    protected override void OnInitialized()
    {
        model ??= new LoginModel();
    }

    private async Task OnSubmitAsync()
    {
        if (model == null)
            return;

        errorMessage = string.Empty;
        isSubmitting = true;

        if (string.IsNullOrWhiteSpace(model.Login) || string.IsNullOrWhiteSpace(model.Password))
        {
            errorMessage = "L'identifiant et le mot de passe sont obligatoires.";
            isSubmitting = false;
            return;
        }

        try
        {
            var user = await AuthenticateUser(model.Login, model.Password);

            if (user == null)
            {
                errorMessage = "Invalid login attempt.";
                Navigation.NavigateTo("/", forceLoad: true);
                return;
            }

            //  Update last connection
            user.LastIdent = DateTime.Now;
            _credentialBusiness.Update(user);

            if (user.RoleIdent != RoleCredential.Admin && user.RoleIdent != RoleCredential.User)
            {
                errorMessage = "This type of user cannot logged in";
                Navigation.NavigateTo("/", forceLoad: true);
            }

            var claims = new List<Claim>
            {
                new Claim(ClaimTypes.Name, user.Ident),
                new Claim("FullName", user.Ident),
                new Claim("Role", user.RoleIdent.ToString())
            };

            var claimsIdentity = new ClaimsIdentity(
                claims, CookieAuthenticationDefaults.AuthenticationScheme);

            await HttpContextAccessor.HttpContext!.SignInAsync(
                CookieAuthenticationDefaults.AuthenticationScheme, 
                new ClaimsPrincipal(claimsIdentity));

            Navigation.NavigateTo(uri: returnUrl ?? "/", forceLoad: true);
        }
        catch (Exception ex)
        {
            errorMessage = $"Erreur : {ex.Message}";
        }
        finally
        {
            isSubmitting = false;
        }
    }

    private async Task<CredentialBusinessEntity?> AuthenticateUser(string login, string password)
    {

        if (await _credentialBusiness.VerifyPassword(login, password))
        {
            CredentialBusinessEntity? ident  = await  _credentialBusiness.GetCredentialBusinessEntityByIdent(login);
            return ident;
        }
        else
        {
            return null;
        }
    }

    public class LoginModel
    {
        [Required(ErrorMessage = "L'identifiant est obligatoire")]
        public string? Login { get; set; }

        [Required(ErrorMessage = "Le mot de passe est obligatoire")]
        public string? Password { get; set; }
    }
}
