@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using static Microsoft.AspNetCore.Components.Web.RenderMode
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TinyIDP</title>
    <base href="/" />
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
</head>
<body>
    <CascadingAuthenticationState>
        <Routes @rendermode="InteractiveServer"/>
    </CascadingAuthenticationState>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
