@page "/credentials/delete/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using tinyidp.Business.BusinessEntities
@using tinyidp.Pages.Models
@using Microsoft.AspNetCore.Components
@attribute [Authorize]
@inject ICredentialBusiness CredentialBusiness
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Credentials Management - TinyIDP</PageTitle>

<h1>Credentials Management</h1>

<div id="error">
    <span class="error">
        @if (credentialDelete != null && credentialDelete.ExceptionMessage != null)
        {
            @credentialDelete.ExceptionMessage
        }
    </span>
</div>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (credentialDelete != null && credentialDelete.CanAccess)
{
    <h3>Delete credential</h3>
    <div id="add-block" class="shadowbox">
        <EditForm Model="credentialDelete" OnValidSubmit="HandleSubmit">

            <table>
                <tr>
                    <td>
                        <label for="Id">Id</label>
                    </td>
                    <td>
                        @credentialDelete.Id
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Ident">Ident</label>
                    </td>
                    <td>
                        @credentialDelete.Ident
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </table>
        </EditForm>
    </div>
}
else if (!isLoading)
{
    <p>Access denied.</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private CredentialEditModel? credentialDelete;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            
            credentialDelete = new CredentialEditModel();
            
            if (authState.User.Claims.Role() != RoleCredential.Admin)
            {
                credentialDelete.ExceptionMessage = "You don't have rights to access";
                credentialDelete.CanAccess = false;
            }
            else
            {
                credentialDelete.CanAccess = true;
                var result = CredentialBusiness.GetWithCertificates(Id);
                credentialDelete = result.ToModelEdit();
            }
        }
        catch (Exception ex)
        {
            credentialDelete ??= new CredentialEditModel();
            credentialDelete.ExceptionMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            if (credentialDelete != null)
            {
                CredentialBusiness.Remove(credentialDelete.ToBusiness());
                Navigation.NavigateTo("/credentials");
            }
        }
        catch (Exception ex)
        {
            if (credentialDelete != null)
            {
                credentialDelete.ExceptionMessage = $"{ex.Message} - {ex.InnerException?.Message}";
            }
        }
    }
}
