@page 
@using tinyidp.Pages.Models
@model DeleteModel
@{
    ViewData["Title"] = "Certificate Managment";
}
<h1>@ViewData["Title"]</h1>
<div id="error">
    <span class="error">
@if (Model._credentialDelete != null && Model._credentialDelete!.ExceptionMessage != null)
{    
    @Model._credentialDelete!.ExceptionMessage
}
    </span>
</div>

@if (Model._credentialDelete != null && Model._credentialDelete!.CanAccess)
{
<h3>Delete certificate</h3>
<div id="add-block" class="shadowbox">
<form method="post">
    <table>
    <tr>
    <td>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label for="Id">Id</label>
    </td>
    <td>
        @Html.DisplayFor(model => model._credentialDelete!.Id)
        <input type="hidden" asp-for="_credentialDelete!.Id" class="form-control"/>
        <input type="hidden" asp-for="_credentialDelete!.IdClient" class="form-control"/>
    </td>
    </tr>
    <tr>
    <td>
        <label for="Dn">Dn</label>
    </td>
    <td>
        @Html.DisplayFor(model => model._credentialDelete!.Dn)
    </td>
    </tr>
    <tr>
    <td colspan="2">
            <input type="submit" value="Delete"/>
    </td>
    </tr>
    </table>
</form>
</div>

}