@page "/truststore/delete/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using tinyidp.Business.BusinessEntities
@using tinyidp.Business.Certificate
@using tinyidp.Pages.Models
@using Microsoft.AspNetCore.Components
@attribute [Authorize]
@inject ITrustStoreService TrustStoreService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>TrustStore Management - TinyIDP</PageTitle>

<h1>TrustStore Management</h1>

<div id="error">
    <span class="error">
        @if (trustStoreEdit != null && !string.IsNullOrEmpty(trustStoreEdit.ExceptionMessage))
        {
            @trustStoreEdit.ExceptionMessage
        }
    </span>
</div>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (trustStoreEdit != null && trustStoreEdit.CanAccess && !isLoading)
{
    <h3>Delete CA</h3>
    <div id="add-block" class="shadowbox">
        <EditForm Model="trustStoreEdit" OnValidSubmit="HandleSubmit">
            <table>
                <tr>
                    <td>
                        <label for="Id">Id</label>
                    </td>
                    <td>
                        @trustStoreEdit.Id
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Dn">DN</label>
                    </td>
                    <td>
                        @trustStoreEdit.Dn
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </table>
        </EditForm>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private TrustStoreEditModel? trustStoreEdit;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            
            TrustStoreBusiness? result = await TrustStoreService.GetCa(Id);
            
            if (result == null)
            {
                trustStoreEdit = new TrustStoreEditModel();
                trustStoreEdit.ExceptionMessage = $"Certificate {Id} not found";
                trustStoreEdit.CanAccess = false;
            }
            else
            {
                trustStoreEdit = result.ToModelEdit();

                if (authState.User.Claims.Role() != RoleCredential.Admin)
                {
                    trustStoreEdit.ExceptionMessage = "You don't have rights to access";
                    trustStoreEdit.CanAccess = false;
                }
                else
                {
                    trustStoreEdit.CanAccess = true;
                }
            }
        }
        catch (Exception ex)
        {
            trustStoreEdit ??= new TrustStoreEditModel();
            trustStoreEdit.ExceptionMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            if (trustStoreEdit != null)
            {
                TrustStoreService.RemoveCa(trustStoreEdit.ToBusiness());
                Navigation.NavigateTo("/truststore");
            }
        }
        catch (Exception ex)
        {
            if (trustStoreEdit != null)
            {
                trustStoreEdit.ExceptionMessage = $"{ex.Message} - {ex.InnerException?.Message}";
            }
        }
    }
}
