@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components

<PageTitle>Accueil - TinyIDP</PageTitle>

<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur TinyIDP</h1>
    <p class="lead">Un serveur d'identité minimaliste.</p>
    <hr class="my-4">
    <p>Gérez vos credentials, certificats et configurations OAuth.</p>
    <a class="btn btn-primary btn-lg" href="/credentials" role="button">Démarrer</a>
</div>
